img{
  max-width: 100% !important;
  max-height: 100% !important;
  border: none !important;
}

.bar{
  text-decoration: line-through !important;
}

.red{
  font-weight: bold !important;
  color: red;
}
